*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.conteiner{
    background-color: #121212;
    width: 700px;
    color: #ffffff;
    
 margin: auto;

   padding: 30px;

   border: 5px solid red; 

   border-radius: 15px;

}